<configuration scan="true" scanPeriod="30 seconds" packagingData="true">
    <property name="SKYLINE_LOG_FOLDER" value=" "/>
    <property name="SKYLINE_LOG_FILE_NAME" value="skyline.log" />

    <if condition='property("SKYLINE_LOG_FOLDER").trim().length() == 0'>
        <then>
            <if condition='isDefined("skyline.logFolder")'>
                <then>
                    <property name="SKYLINE_LOG_FOLDER" value="${skyline.logFolder}" />
                </then>
                <else>
                    <property name="SKYLINE_LOG_FOLDER" value="${java.io.tmpdir}/logs" />
                </else>
            </if>
        </then>
    </if>

    <appender name="textFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${SKYLINE_LOG_FOLDER}/${SKYLINE_LOG_FILE_NAME}</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${SKYLINE_LOG_FOLDER}/${SKYLINE_LOG_FILE_NAME}.%d{yyyy-MM-dd_HH}hs.%i.log.zip</fileNamePattern>
            <maxHistory>240</maxHistory>
            <maxFileSize>10MB</maxFileSize>
        </rollingPolicy>
        <encoder>
            <pattern>[%d{dd/MM/yyyy HH:mm:ss.SSS X}] [%thread] %-5level %logger{70} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- para geração de .json -->
<!--    <appender name="jsonFile" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--        <file>${SKYLINE_LOG_FOLDER}/${SKYLINE_LOG_FILE_NAME}.json</file>-->
<!--        <append>true</append>-->
<!--        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">-->
<!--            <fileNamePattern>${SKYLINE_LOG_FOLDER}/${SKYLINE_LOG_FILE_NAME}.%d{yyyy-MM-dd_HH}hs.%i.json</fileNamePattern>-->
<!--            <maxHistory>240</maxHistory>-->
<!--            <maxFileSize>10MB</maxFileSize>-->
<!--        </rollingPolicy>-->
<!--        <encoder class="net.logstash.logback.encoder.LogstashEncoder" >-->
<!--            <customFields>{ "service" : "SKYLINE" }</customFields>-->
<!--        </encoder>-->
<!--    </appender>-->

    <logger name="org.springframework.boot.autoconfigure.logging.AutoConfigurationReportLoggingInitializer" level="info"/>

    <root level="info">
        <appender-ref ref="textFile" />

<!--         para geração de .json -->
<!--         <appender-ref ref="jsonFile" />-->
    </root>

</configuration>
